
$background-color: #dedfdf;

$font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$input-background: #c8c9c9;

$icon-color: #969696;

$btn-color-nav: #222222;

@mixin width-margin {
    width: 80%;
    margin: 0 auto;
}