/*Basic Reset*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
/*1rem = 16px*/
html {
  font-size: 62.5%;
  background-color: #dedfdf;
 
}
